<!DOCTYPE html>
<html lang="en">
<head>
<%-include("head")-%>
<title>Projekti 2</title>

</head>
<body>

<%-include("navbar");-%>

<div class="container-fluid fill">
    <%-include("main_content");-%>
</div>

<%- include ("scripts"); -%>
</body>
</html>