body{
    margin: 0;
    padding: 0;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='600' height='100' viewBox='0 0 600 100'%3E%3Cg stroke='%23FFF' stroke-width='0' stroke-miterlimit='10' %3E%3Ccircle fill='%23037B79' cx='0' cy='0' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='0' r='50'/%3E%3Ccircle fill='%23FFFFD8' cx='200' cy='0' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='0' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='0' r='50'/%3E%3Ccircle fill='%23006EB4' cx='500' cy='0' r='50'/%3E%3Ccircle fill='%23037B79' cx='600' cy='0' r='50'/%3E%3Ccircle cx='-50' cy='50' r='50'/%3E%3Ccircle fill='%2353ac9a' cx='50' cy='50' r='50'/%3E%3Ccircle fill='%23ceefc1' cx='150' cy='50' r='50'/%3E%3Ccircle fill='%23ffffff' cx='250' cy='50' r='50'/%3E%3Ccircle fill='%239de0fe' cx='350' cy='50' r='50'/%3E%3Ccircle fill='%233e9cda' cx='450' cy='50' r='50'/%3E%3Ccircle fill='%2300789c' cx='550' cy='50' r='50'/%3E%3Ccircle cx='650' cy='50' r='50'/%3E%3Ccircle fill='%23037B79' cx='0' cy='100' r='50'/%3E%3Ccircle fill='%2392DEBA' cx='100' cy='100' r='50'/%3E%3Ccircle fill='%23FFFFD8' cx='200' cy='100' r='50'/%3E%3Ccircle fill='%23CAF2FF' cx='300' cy='100' r='50'/%3E%3Ccircle fill='%236FCCFF' cx='400' cy='100' r='50'/%3E%3Ccircle fill='%23006EB4' cx='500' cy='100' r='50'/%3E%3Ccircle fill='%23037B79' cx='600' cy='100' r='50'/%3E%3Ccircle cx='50' cy='150' r='50'/%3E%3Ccircle cx='150' cy='150' r='50'/%3E%3Ccircle cx='250' cy='150' r='50'/%3E%3Ccircle cx='350' cy='150' r='50'/%3E%3Ccircle cx='450' cy='150' r='50'/%3E%3Ccircle cx='550' cy='150' r='50'/%3E%3C/g%3E%3C/svg%3E");    background-attachment: fixed;
    background-size: 10000px;
    
}

html{
    scroll-behavior: smooth;
}

a{
    color: white;
    transition: .3s ease;
}

a:hover{
    color: #53AC9A;
    transition: .3s ease;
}

nav{
    /* background-color: rgba(0, 105, 104, 0.4);
    width: 13.5%;
    border-radius: 60px;
    min-width: 250px;
    max-width: 250px;
    margin-top: 20px;
    margin-left: 10px; */
    font-family: 'Baloo Bhai', cursive;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
        text-align: center;
}

.navbar-nav li a{
    display: inline-block;
    margin: 20px;
}

.navbar-nav{
    flex-direction: row;
    margin: auto;
}

.navbar-toggler-icon{
    color: white;
}

#main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);

}

#main2{

    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    height: 100% ;
    padding: 200px;
    width: 100%;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
    

}


#main3{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);
font-family: 'Permanent Marker', cursive;
padding-top: 10%;
}

#main3 ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-decoration: none;
    list-style: none;
    
}

.container-fluid{
    margin: 0;
    padding:0;
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: aquamarine; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(76, 155, 129); 
  }

.item1{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 72pt;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: 'Permanent Marker', cursive;
}

.item2{
    margin: auto;
    text-align: center;
    color: grey;
    font-size: 42pt;
}

.item3{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 42pt;
}


/* .sticky-top { top: 20px; } */

.img:hover{
    background-color: red;
}